<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <title>index</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-opacity-50 ">
      <div class="container">
        <a class="navbar-brand text-white fw-bolder" href="#"><span class="fs-1 text-warning">T</span>RADEXA</a>
      </div>
    </nav>
  </header>

  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-8 col-md-6 col-lg-4 text-center mb-4 ">
          <div class="w-100 p-4 bg-light shadow">
            <p class="pb-5 h3 text-black">FOR SUPPLIER</p>
            <i class="pt-5 d-block fw-bold pb-1 ">click here to</i>
            <a href="addsupplier" class="btn btn-primary px-5 rounded-pill mb-3 d-block">SUPPLY</a>
          </div>
        </div>

        <div class="col-8 col-md-6 col-lg-4  text-center  ">
          <div class="w-100 bg-light p-4 shadow ">
            <p class="pb-5 h3 text-black">FOR CUSTMOR</p>
            <i class="pt-5 d-block fw-bold pb-1 ">click here to</i>
            <a href="addmaterial" class="btn btn-primary px-5 rounded-pill mb-3 d-block">BUY</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <script src="js/poppover.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
